---
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ContinuationIndentWidth: 2
AlignOperands: true
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
